<!DOCTYPE html>
<html>
<head>
    <title>Interview Questions</title>
</head>
<body>
    <h1>Interview Questions</h1>
    <ul>
        {% for q in question_list %}
            <li>{{ q }}</li>
            <form action="/submit" method="post">
                <label for="answer">Your answer:</label>
                <input type="text" answer="answer" required><br><br>
            
            <input type="submit" value="Submit">
            </form>
            
        {% endfor %}
    </ul>
</body>
</html>
