<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Information</title>
</head>

<body>
    <h1>Interview Questions</h1>
    <ul>
        {% for item in question_data %}
            <li>
                {{ item.question }}
                {% if item.spoken_question %}
                    ({{ item.spoken_question }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>


</html>

<form action="/submit" method="post">
    <label for="answer">Your answer:</label>
    <input type="text" answer="answer" required><br><br>

<input type="submit" value="Submit">
</form>
